<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= decodeURIComponent(escape(fileName)) %>
    </title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="btn-panel">
        <button onclick="window.location.href='/'" class="panel-btn">Home</button>
        <button onclick="window.location.href='/admin'" class="panel-btn">Admin</button>
    </div>